__pycache__/
*.py[cod]
*$py.class

.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

.venv/
venv/
env/
ENV/

.env
.env.*
!.env.example

build/
dist/
*.egg-info/

.DS_Store

run.sh

*secret*
.secretkey
secretkey.txt
secretkey
